@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>高教学会合作</title>
    <link href="~/Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .panel {
            margin: 40px auto;
            width: 100%;
            min-height: 800px;
            overflow: hidden;
            color: #4F4F4F;
            font-size: 16px;
            font-family: 'Microsoft YaHei';
        }

            .panel .panel-body p {
                line-height: 40px;
            }
    </style>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading"><h4>高教学会合作</h4></div>
        <div class="panel-body">
            <img draggable="false" style="margin:0 auto" src="~/Content/images/highedu.png" />

            <h4>高校教学创新大赛暨产教融合创新大赛</h4>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;​高校教学创新大赛是中国高等教育学会与江门市蓬江区的重点合作项目，计划于2017年筹备2018年开始每年8月在江门市蓬江区举办大赛决赛以及相关论坛和项目孵化等系列活动。南方教育装备创新研究院作为蓬江区代表主要负责大赛分主题产教融合创新模块策划工作。
            </p>
            <h4>
                《中国现代教育装备》“南方联络处”
            </h4>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;​南方教育装备创新研究院与中国高等教育学会《中国现代教育装备》杂志编辑部达成了共建“南方联络处”的意向，双方于9月下旬签订了合作协议，确立在南方教育装备创新产业城设置《中国现代教育装备》“南方联络处”。此外，《中国现代教育装备》杂志编辑部向研究院出具征稿委托函，委托南方教育装备创新研究院协助其完成相关杂志编辑工作。
            </p>
        </div>
    </div>


</body>
</html>
