
.imgcontainer {
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: relative;
}
 
.first {
   /*background: url("../images/first.jpg") center no-repeat;*/
   background-position:center;
   background-repeat:no-repeat;
    background-size: cover; /*20170921*/
}

.second {
    background: url("../images/second.jpg") center no-repeat;
    background-size: cover; /*20170921*/
    /*background-attachment: fixed;
     -webkit-background-size: cover;
    -o-background-size: cover;*/
}

.third {
    color: #FF6600;
    background: url("../images/third.jpg") center no-repeat;
    background-size: cover; /*20170921*/
}

.fourth {
    background: url("../images/fourth.jpg") center no-repeat;
    background-size: cover; /*20170921*/
}

.fifth {
    background: url("../images/fifth.jpg") center no-repeat;
    background-size: cover; /*20170921*/
}

    .first div, .second div, .third div, .fourth div, .fifth div {
        font-family: 'Microsoft YaHei', Arial, sans-serif;
        left: 0;
        /* bottom: 0; */
        width: 100%;
        font-size: 14px;
        padding: 5px 10px;
        text-align: left;
        background: rgba(0,0,0,0.45);
    }
