@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>教育装备学院</title>
    <link href="~/Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/panelbase.css" rel="stylesheet" />
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading"><h4>教育装备学院</h4></div>
        <div class="panel-body">
            <p>
                &nbsp;&nbsp; &nbsp; &nbsp;  <strong>全国首家教育装备学院</strong>——五邑大学教育装备学院正式揭牌成立 ，此举也意味着南方教育装备创新产业城和五邑大学在人才培养合作方面迈出了坚实的一步。学院采取院校联动的方式，以教育装备创新发展为抓手，以教育装备产业需求为导向，以机电工程学院、信息工程学院、计算机学院、艺术设计学院为基础，以教育装备设计研发、产业规划与管理、生产制造、展示营销为重点培养方向，培养教育装备高端研发人才与专业应用人才。
                江门市委常委、蓬江区委书记王积俊，蓬江区区长温伟文，蓬江区常务副区长赵全，五邑大学党委书记张焜，市委常委、蓬江区委书记王积俊，南方教育装备创新产业城负责人邵继民及蓬江区相关负责人等出席揭牌仪式。
            </p>  <br />
            <center>
                <img src="~/Content/images/jyzbxy.jpg" /><br />
                <span>揭牌仪式现场</span>
            </center>
            <p>
                &nbsp; &nbsp; &nbsp; &nbsp;  五邑大学教育装备学院的成立，将会改善教育装备产业人才缺失的现状，也将填补国内教育装备专业的空缺，是对“珠西智谷”在教育装备产业平台 的有力支持。这既是教育装备产业人才培养的重要一步，也是“区校融合”的重要举措；不仅是五邑大学发展史上的大事，也是江门产业发展上的大事。目前，教育装备学院已招收首届学生129名，并已开展相关企业见习实践活动，走访学习了15家教育装备企业。
            </p>
        </div>
    </div>

</body>
</html>
