@{
    ViewBag.Title = "产品检测评估";
    Layout = "~/Views/Shared/_LayoutPageMainPage.cshtml";
}
<style>
    .container {
        margin: 0 auto;
        padding-top: 10px;
        width: 80%;
        min-height: 800px;
        font-family: 'Microsoft YaHei';
    }

        .container p {
            line-height: 40px;
            font-size: 16px;
        }

        .container .glyphicon {
            font-size: 16px;
            color: blue;
            padding-right: 10px;
        }

    .div_evaluation .glyphicon-pencil {
        padding-left: 40px;
    }
</style>
<link href="~/Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <p><span class="h4">现代教育装备评估中心</span></p>
    <div class="h4"><span class="glyphicon glyphicon-tags"></span>工作重点</div>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;评估中心主要负责场地建设、设备购置、团队建设、评估专家库建设和评估中心运营管理工作，与江门市蓬江区中小学达成合作关系，与广东省教育装备中心及周边地级市教育局建立合作关系，开展教育装备评估业务。
    </p>
    <div class="h4"><span class="glyphicon glyphicon-screenshot"></span>方案建设现状</div>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;现代教育装备评估中心建设工作在上一年工作的基础上，取得了重大突破，目前已明确评估方案，教育装备评估包括四项评估内容：
    </p>
    <p>
        <span class="glyphicon glyphicon-pencil"></span> 质量检测、用户体验评测、教育资源专家评估和教育装备专家评估；
    </p>
    <p>
        <span class="glyphicon glyphicon-pencil"></span> 建立了教育装备评估标准体系；
    </p>
    <p>
        <span class="glyphicon glyphicon-pencil"></span> 制定了教育资源在线评估系统建设方案，实现教育资源的在线评估；
    </p>
    <p>
        <span class="glyphicon glyphicon-pencil"></span> 策划并初步实施了电子书包评估案例，形成了完善可操作的评估流程；
    </p>
    <p>
        此外，也走访江门市16所中小学及多家周边企业，探索教育装备评估市场需求及重点发展方向，了解教育装备使用过程中存在的问题，为评估中心后期市场拓展打下坚实的基础。
    </p>
    <div class="h4"><span class="glyphicon glyphicon-pushpin"></span> 重大事件 </div>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;为确保教育装备评估工作顺利实施，于2017年2月28至3月1日召开了“现代教育装备评估第一次研讨会”，7月24日，举办“教育装备评估二次研讨会”，经过两次研讨，促使江门市蓬江区政府与教育部教育装备研究与发展中心于8月30号签订现代教育装备评估中心共建协议，正式挂牌启动“南方教育装备创新产业城现代教育装备评估中心”建设工作。
    </p>
</div>