@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>项目合作</title>
    <link rel="icon" href="~/Content/images/favico.ico" />
    <link href="~/Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .panel {
            margin: 40px auto;
            width: 100%;
            min-height: 800px;
            overflow: hidden;
            color: #4F4F4F;
            font-size: 16px;
            font-family: 'Microsoft YaHei';
        }

            .panel .panel-body p {
                line-height: 40px;
            }
    </style>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading"><h4>项目合作</h4></div>
        <div class="panel-body">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;南方教育装备创新研究院自成立以来，一直致力于服务教育装备产业、教育事业。目前已经开展的合作项目如下：
            </p>
            <h4>高校教学实践基地</h4>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;为了培养学生综合素质，适应企业发展的需求，使学生成为具有较强实践能力的应用型人才，更好的服务社会，产生良好的经济和社会效益，五邑大学与江门市蓬江区南方教育装备创新研究院共同建立教学实践基地。
            </p>
            <h4>名师工作室</h4>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;为进一步加强蓬江区中小学教师队伍建设，提升中小学教师的教育教学能力，为深化课堂教学改革，探索新的教学模式，促进师生共同成长，提高教育教学质量，研究院与北京易教空间教育科技股份有限公司建立教师培养、学生评优基地。
            </p>
        </div>
    </div>

</body>
</html>
