@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>院长信箱</title>
    <link href="~/Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/panelbase.css" rel="stylesheet" />

</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading"><h4>院长信箱</h4></div>
        <div class="panel-body">
            <p>院长信箱：jyzbyjy@126.com</p> 或者<a href="@Url.Action("FeedBack", "Contact")" title="点击前往">前往留言反馈</a>
        </div>
    </div>
</body>
</html>
